export(cv.liso, plotCV, liso.covweights,liso.maxlamb, liso.backfit, multistep,seq.log, liso)
S3method(print, lisofit)
S3method(plot, multistep)
S3method("*", multistep)
S3method("&", multistep)
S3method(summary, multistep)
S3method(max, multistep)
S3method(min, multistep)
S3method(dim, multistep)
S3method(abs, multistep)
S3method(as.vector, multistep)
S3method(as.array, multistep)
S3method(predict, multistep)

